/* GLOBALS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #454545;
  font-family: 'Cabin', sans-serif;
  letter-spacing: .05rem;
  scroll-behavior: smooth;
}

body { background-color: #f0f0f0; }

h1, h2, h3 { color: #222222; }

h1 { font-size: 2.5rem; }

h2 {
  display: inline-block;
  margin-bottom: 1.5rem;
  padding-left: .25em;
  border-left: .25rem solid #c7c7c7;
  font-family: Helvetica;
  font-size: 1.8rem;
  letter-spacing: 0;
}

h2:hover { border-left: .25rem solid #74d5dd; }

h3 {
  margin-bottom: .2em;
  font-size: 1.2rem;
}

a { text-decoration: none; }

ul { list-style-type: none; }

img { display: block; }

section { padding: 1rem 1.5rem 3rem; }

section:nth-child(odd) { background-color: #74d5dd; }

section:nth-child(even) { background-color: white; }

button { border: none; }

.wrapper {
  max-width: 1024px;
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
}

.grid { display: grid; }

.flex {
  display: flex;
  flex-wrap: wrap;
}

/* HEADER */

header {
  padding: 1rem;
  background-color: white;
}

header nav { width: 30%; }

header figure { flex-grow: 1; }

header img {
  max-width: 30px;
  width: 100%;
}

header ul {
  height: 100%;
  align-content: center;
  justify-content: space-between;
}

header a {
  font-family: Helvetica;
  font-size: .95rem;
  color: #c7c7c7;
  transition: .5s color, .5s border;
}

header a:hover { color: #454545; }

/* FOOTER */

footer { background-color: #74d5dd; }

footer p {
  padding: 1.5em;
  font-size: .75rem;
  color: white;
  text-align: center;
}

/* .section-0 */

.section-0 {
  height: 100vh;
  position: relative;
  padding: 8rem 4rem;
  background-image: url("../images/Background3.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

.section-0 div:first-child {
  position: absolute;
  z-index: 1;
  width: 100%;
  top: 45%;
  left: 0;
}

.section-0 div:last-child {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(18, 18, 18, .25);
}

.section-0 h1, .section-0 p { color: white; }

.section-0 h1 {
  width: 70%;
  margin: .5rem auto;
  font-size: 3.5rem;
}

.section-0 div { text-align: center; }

@keyframes arrow {
  50% {
    transform: translateY(-10%);
  }

  100% {
    transform: translateY(0%);
  }
}

.section-0 div:nth-child(2) {
  position: absolute;
  bottom: 1%;
  left: 0;
  width: 100%;
  z-index: 1;
}

.section-0 a {
  padding: 0 .5rem;
  border-radius: 100%;
  background-color: #74d5dd;
  color: white;
  font-size: 2rem;
  animation: .75s arrow infinite;
}

/* .section-1 */

.section-1 .profile {
  width: 70%;
  flex-wrap: nowrap;
  margin: auto;
  padding: 1.5rem;
  background-color: white;
  box-shadow: 2px 2px rgba(89, 89, 89, .3);
}

.section-1 .profile-socials {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.section-1 p, .section-1 h3 { margin-bottom: 1rem; }

.section-1 h3 { color: #74d5dd; }

.section-1 figure img {
  max-width: 75px;
  margin-right: 1rem;
  border-radius: 100%;
}

.section-1 a {
  display: inline-block;
  opacity: 50%;
}

.section-1 a:hover { opacity: 100%; }

/* section-2 */

.section-2 a {
  position: relative;
  display: inline-block;
  border: .5rem solid #f0f0f0;
}

.section-2 img {
  max-width: 300px;
  width: 100%;
}

.section-2 .grid {
  width: 80%;
  margin: auto;
  grid-template-columns: repeat(2, auto);
  justify-items: center;
  gap: 1em;
}

.section-2 .prjct-info {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 1em;
  overflow: hidden;
  opacity: 0;
  background-color:rgba(116,213,221, .95);
  text-indent: 200%;
  white-space: nowrap;
  transition: .25s opacity, .75s text-indent;
}

.section-2 .prjct-info * { color: white; }

.section-2 .prjct-info div { padding-bottom: 1em; }

.section-2 .prjct-info:hover {
  opacity: 100%;
  text-indent: 0%;
  transition: .25s opacity, .75s text-indent;
}

.section-2 .prjct-info button {
  padding: .25em .75em;
  font-size: .75rem;
  background-color: #dd9074;
  color: white;
  border-radius: .75em;
}

/* .section-3 */

.section-3 .flex {
  width: 80%;
  margin: auto;
}

.section-3 .grid {
  width: 49%;
  grid-template-columns: auto 80%;
  justify-items: center;
  row-gap: 1em;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background-color: white;
  box-shadow: 2px 2px rgba(89, 89, 89, .3);
}

.section-3 .grid h3 {
  grid-column-start: 1;
  grid-column-end: 3;
}

.section-3 .grid:last-child { margin-left: auto; }

.section-3 p { font-size: .75rem; }

.section-3 .bar-container {
  width: 90%;
  background-color: #f0f0f0;
  height: 1em;
  border-radius: .75em;
}

.section-3 .progress-bar {
  width: 60%;
  height: 100%;
  border-radius: .75em;
  background-color: #dd9074;
  transition: 1s width;
}

.section-3 .progress-bar:hover {
  width: 100%;
  transition: 1s width;
}

/* .section-4 */

.section-4 .flex { justify-content: center; }

.section-4 form {
  width: 60%;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  justify-items: center;
  column-gap: .5em;
}

.section-4 form + div {
  padding-left: 2em;
  margin-left: 2em;
  border-left: .1rem solid #f0f0f0;
}

.section-4 form + div div { margin-bottom: 1em; }

.section-4 input[placeholder="Asunto*"], .section-4 textarea, .section-4 div {
  grid-column-start: 1;
  grid-column-end: 3;
}

.section-4 input, .section-4 textarea {
  width: 100%;
  margin-bottom: 1.5em;
  padding: 1em;
  border: .1rem solid #f0f0f0;
  resize: none;
  outline: none;
}

.section-4 input:focus, .section-4 textarea:focus {
  border-color: #dd9074;
}

.section-4 button {
  padding: .75em 1.25em;
  border-radius: .5em;
  outline: none;
  background-color: white;
  cursor: pointer;
}

.section-4 button:first-child {
  color: #dd9074;
  border: .1rem solid #dd9074;
  border-radius: .5em;
}

.section-4 button:first-child:hover {
  color: white;
  background-color: #dd9074;
  border: .1rem solid #dd9074;
}

.section-4 button[type="reset"] {
  margin-left: 1em;
  border: .1rem solid #f0f0f0;
  color: #c7c7c7;
}

.section-4 button[type="reset"]:hover {
  color: #454545;
}

@media (max-width: 768px) {
  header nav { width: 50%; }

  .section-0 { background-attachment: initial; }

  .section-0 div:first-child { top: 30%; }

  .section-1 .profile { width: 90%; }

  .section-2 .grid {
    width: 100%;
    margin: 0;
  }

  .section-3 .flex {
    width: 100%;
    margin: 0;
    justify-content: space-evenly;
  }

  .section-4 .flex { display: block; }

  .section-4 .flex form {
    width: 95%;
    margin-bottom: 2rem;
  }

  .section-4 .flex div {
    width: 100%;
    margin-left: 0;
    padding-left: 0;
    text-align: center;
    border-left: none;
  }
}

@media (min-width: 320px) and (max-width: 425px) {
  .wrapper { width: 100%; }

  h2 {
    display: block;
    text-align: center;
    border-left: none;
  }
  
  header {
    padding: .5rem;
  }

  header figure {
    width: 100%;
  }

  header figure img { margin: auto; }

  header nav {
    display: none;
  }

  .section-0 { background-attachment: initial; }

  .section-0 h1 { margin: 0 auto; }

  .section-1 .profile {
    display: block;
    width: 95%;
  }

  .section-1 .profile-socials {
    flex-direction: row;
  }

  .section-2 .grid {
    width: unset;
    grid-template-columns: auto;
    justify-content: center;
  }

  .section-2 img { width: unset; }

  .section-3 .flex {
    width: 100%;  
    display: block;
  }

  .section-3 p {
    padding-left: 0;
  }

  .section-3 .grid { width: 100%; }

  .section-3 .grid:first-child { margin-bottom: 1rem; }

  .section-4 .flex form { display: block; }
}